Options +FollowSymLinks

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,DELETE,PUT"

RewriteEngine on

RewriteRule ^asamblea$ asamblea.php

RewriteRule ^municipales\/?$ municipales.php [L]
RewriteRule ^municipales\/([0-9]+)$ municipales.php?id=$1 [L]

RewriteRule ^departamentos\/?$ departamento.php [L]
RewriteRule ^departamentos\/([0-9]+)$ departamento.php?id=$1 [L]
