Options +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^index$ index.html [L]
  RewriteRule ^asamblea$ asamblea.php [L]
  RewriteRule ^municipales$ municipales.php [L]
</IfModule>